@model TimeSheet_Of_Personnel.Models.CalendRecord

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення!</h2>

<h3>Ви впевнені, що бажаєте видалити запис?</h3>
<div>
    <h4>Запис про день у табелі за конкретну дату.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayType.DayTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayType.DayTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalendRecordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendRecordName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ВИДАЛИТИ!" class="btn btn-default" /> |
            @Html.ActionLink("Не Видаляти.", "Index", new { id = Model.EmployeeID })
        </div>
    }
</div>
