@model TimeSheet_Of_Personnel.Models.CalendRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CalendRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayType.DayTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayType.DayTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalendRecordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendRecordName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CalendRecordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
