@model IEnumerable<TimeSheet_Of_Personnel.Models.CalendRecord>

@{
    ViewBag.Title = "Index";
}

<h3>Не робочі дні працівника: @ViewBag.EmployeeName за @DateTime.Now.ToString("MMMM yyyy") року.</h3>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.DayType.DayTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalendRecordName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Редагувати запис", "Edit", new { id = item.CalendRecordID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayType.DayTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalendRecordName)
        </td>
        <td>
            @Html.ActionLink("Видалити запис", "Delete", new { id=item.CalendRecordID })
        </td>
    </tr>
}

</table>

<hr />
<div>
    @Html.ActionLink("Повернутися до списку", "MonthView")
</div>