@*@model IEnumerable<TimeSheet_Of_Personnel.Models.EmploMonthRow>*@

@{
    ViewBag.Title = "MonthView";
}

<link href="~/Content/a-time-sheet.css" rel="stylesheet" />

<h3>
    @Html.ActionLink(" ", "MonthView",
    new { year = ViewBag.MonthDate.ToString("yyyy"), month = (ViewBag.MonthDate.AddMonths(-1)).ToString("MM") },
    new { @class = "glyphicon glyphicon-arrow-left" })
    &nbsp;&nbsp;&nbsp;
    @ViewBag.MonthDate.ToString("MMMM, yyyy")
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink(" ", "MonthView",
    new { year = ViewBag.MonthDate.ToString("yyyy"), month = (ViewBag.MonthDate.AddMonths(1)).ToString("MM") },
    new { @class = "glyphicon glyphicon-arrow-right" })
</h3>

<style>
    #formBox {
        height: 100%;
        width: 100%;
        opacity: .96;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #337AB7;
        display: none;
        /*overflow: auto;*/
    }

    div#hiddenForm {
        position: absolute;
        left: 50%;
        top: 40%;
        margin-left: -202px;
    }

    #postForm {
        max-width: 300px;
        max-height: 250px;
        padding: 30px;
        border: 2px solid black;
        border-radius: 10px;
    }

        #postForm p {
            color: black;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

    #closeFormBtn {
        float: right;
        margin-left: 5px;
        color: black;
    }
</style>

<script>
    function showForm() {
        document.getElementById('formBox').style.display = 'block';
    }
    function hideForm() {
        document.getElementById('formBox').style.display = 'none';
    }
    function checkForm() {
        var dateField = document.getElementById('shortDayDate').value;

        if (isValidDate(dateField)) {

            document.getElementById('postForm').submit();

        } else {
            alert("Не вірно вказано дату!");
        }

    }
    function isValidDate(s) {
        var bits = s.split('/');
        var y = bits[2], m = bits[1], d = bits[0];
        // Assume not leap year by default (note zero index for Jan)
        var daysInMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        // If evenly divisible by 4 and not evenly divisible by 100,
        // or is evenly divisible by 400, then a leap year
        if ((!(y % 4) && y % 100) || !(y % 400)) {
            daysInMonth[1] = 29;
        }
        return d <= daysInMonth[--m]
    }
</script>

<span style="float:right; margin-top:-40px">
    <input type="button" value="= BUTTON =" onclick="showForm()" />
</span>


<div id="formBox">
    <div id="hiddenForm">
        <form action="~/CalendRecords/AddShortDay" id="postForm" name="postForm" method="post">
            <input id="closeFormBtn" type="button" class="btn btn-danger" value="X" onclick="hideForm()" />
            <p>
                Додаємо сокрочений день (7 годин) у зазначену нижче дату.
                Будьте уважні!
            </p>
            <input class="form-control text-box" data-val="true" id="shortDayDate" name="shortDayDate" type="date" placeholder="&nbsp;Дата скороченого дня." />
            <br />
            <input type="button" class="btn btn-default" value="Додати скорочений день" onclick="checkForm()" />
        </form>
    </div>
</div>


<table id="monthViewTable">

    <tr>
        <th>№</th>
        <th>П.І.Б.</th>
        <th class="rotate"><div><span>додати дні</span></div></th>
        <th>Посада</th>
        <th class="rotate"><div><span>жінка</span></div></th>
        <th class="rotate"><div><span>Табельний №</span></div></th>
        <th class="rotate"><div><span>редагувати запис</span></div></th>


        @* WRITE NUMBERS OF MONTH-DAYS ( -18 ADDITIONAL COLUMNS ) *@

        @for (int i = 1; i < (ViewBag.columns) - 18; i++)
        {
            <th> <br /><br /><br /><br /><br /> @i </th>
        }

        <th class="rotate"><div><span>фактично відпрац.</span></div></th>
        <th class="rotate"><div><span>відпустка</span></div></th>
        <th class="rotate"><div><span>відпустка (без вих.)</span></div></th>
        <th class="rotate"><div><span>відп.(вагіт./дог.дит)</span></div></th>
        <th class="rotate"><div><span>відп. (не оплачув.)</span></div></th>
        <th class="rotate"><div><span>відрядження</span></div></th>
        <th class="rotate"><div><span>відгул</span></div></th>
        <th class="rotate"><div><span>неявк з незяс.прич.</span></div></th>
        <th class="rotate"><div><span>підвищ.кваліфік.</span></div></th>
        <th class="rotate"><div><span>хвороба</span></div></th>
        <th class="rotate"><div><span>хвороба (без вих.)</span></div></th>
        <th class="rotate"><div><span>вихідні,святкові дні</span></div></th>

    </tr>

    @for (int i = 0; i < ViewBag.rows; i++)
    {
        <tr>
            @for (int k = 0; k < ViewBag.columns; k++)
            {
                if (k == 2)
                {
                    <td>
                        @Html.ActionLink(" ", "Create", "CalendRecords", new { id = ViewBag.calendMatrix[i, 5] }, new { @class = "glyphicon glyphicon-plus" })
                    </td>
                }
                else if (k == 6)
                {
                    <td>
                        @Html.ActionLink(" ", "Index", "CalendRecords", new { id = ViewBag.calendMatrix[i, 5] }, new { @class = "glyphicon glyphicon-pencil" })
                    </td>
                }
                else
                {
                    <td>
                        @ViewBag.calendMatrix[i, k]
                    </td>
                }
            }
        </tr>
    }
</table>

<h5 style="float:right">Всього за місяць - <b>@ViewBag.HoursCount</b> робочих годин.</h5>

@section monthViewScripts{
    @Scripts.Render("~/bundles/monthView")
}