@*@model IEnumerable<TimeSheet_Of_Personnel.Models.EmploMonthRow>*@

@{
    ViewBag.Title = "MonthView";
}

<link href="~/Content/a-time-sheet.css" rel="stylesheet" />

<h3>
    @Html.ActionLink(" ", "MonthView",
    new { year = ViewBag.MonthDate.ToString("yyyy"), month = (ViewBag.MonthDate.AddMonths(-1)).ToString("MM") },
    new { @class = "glyphicon glyphicon-arrow-left" })
    &nbsp;&nbsp;&nbsp;
    @ViewBag.MonthDate.ToString("MMMM, yyyy")
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink(" ", "MonthView",
    new { year = ViewBag.MonthDate.ToString("yyyy"), month = (ViewBag.MonthDate.AddMonths(1)).ToString("MM") },
    new { @class = "glyphicon glyphicon-arrow-right" })
</h3>

<table id="monthViewTable">

    <tr>
        <th>№</th>
        <th>П.І.Б.</th>
        <th class="rotate"><div><span>редагувати дні</span></div></th>
        <th>Посада</th>
        <th class="rotate"><div><span>жінка</span></div></th>
        <th class="rotate"><div><span>Табельний №</span></div></th>


        @* WRITE NUMBERS OF MONTH-DAYS ( -16 ADDITIONAL COLUMNS ) *@

        @for (int i = 1; i < (ViewBag.columns) - 16; i++)
        {
            <th> <br /><br /><br /><br /><br /> @i </th>
        }

        <th class="rotate"><div><span>фактично відпрац.</span></div></th>
        <th class="rotate"><div><span>відпустка</span></div></th>
        <th class="rotate"><div><span>відпустка (без вих.)</span></div></th>
        <th class="rotate"><div><span>відп.(вагіт./дог.дит)</span></div></th>
        <th class="rotate"><div><span>відп. (не оплачув.)</span></div></th>
        <th class="rotate"><div><span>відрядження</span></div></th>
        <th class="rotate"><div><span>відгул</span></div></th>
        <th class="rotate"><div><span>неявк з незяс.прич.</span></div></th>
        <th class="rotate"><div><span>підвищ.кваліфік.</span></div></th>
        <th class="rotate"><div><span>хвороба</span></div></th>
        <th class="rotate"><div><span>вихідні,святкові дні</span></div></th>

    </tr>

    @for (int i = 0; i < ViewBag.rows; i++)
    {
        <tr>
            @for (int k = 0; k < ViewBag.columns; k++)
            {
                if (i != ViewBag.rows - 1)
                {
                    if (k == 2)
                    {
                        <td>
                            @Html.ActionLink(" ", "Create", "CalendRecords", new { id = ViewBag.calendMatrix[i, 5] }, new { @class = "glyphicon glyphicon-pencil" })
                        </td>
                    }
                    else
                    {
                        <td>
                            @ViewBag.calendMatrix[i, k]
                        </td>
                    }
                }
                else   //IF ROW IS LAST
                {
                    if (k == 0)
                    {
                        <td colspan="4" style="text-align:left"></td>
                    }
                    else if (k > 3)
                    {
                        <td>
                            @ViewBag.calendMatrix[i, k]
                        </td>
                    }
                    @*else if (k == 5)
                        {
                            <td colspan="31"> </td>
                        }
                        else if (k > 35)
                        {
                            <td>
                                @ViewBag.calendMatrix[i, k]
                            </td>
                        }*@
                }
            }
        </tr>
    }
</table>

<h5 style="float:right">Всього за місяць - <b>@ViewBag.HoursCount</b> робочих годин.</h5>

@section monthViewScripts{
    @Scripts.Render("~/bundles/monthView")
}